body {
    height: 100vh;
}

nav {
    height: 6vh;
}

.forAuthorisedLink, #authorizationProblem, #registration, #joinChat, #chat  {
    display: none;
}

#searchBar {
    height: 5vh;
}

#mainpage {
    display: none;
    height: 93vh;
    margin-top: 1vh;
}

#frontPageLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 60%;
}

#authenticationForm {
    margin-top: 30%; 
    margin-right: 2%;
}

#chatsContainer {
    height: 80vh;
    overflow: auto;
}

#addChat {
    margin-top: 2vh;
    height: 4vh;
}

#messages {
    height: 76 vh; 
    overflow: auto;
}

#chatL {
    height: 4vh;
    text-align: center;
}

.chat:hover{
    background: #007bff;
    color: white;
    border-color: white;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.chat {
    height: 10vh;
    overflow: hidden;
}

.chat img {
    height: 8vh;
}

.chat .media-body {
    margin-top: 1vh;
}

.selected_chat div{
    background: #007bff;
    color: white;
}

.my_message img {
    height: 3vh;
}

.message img {
    height: 3vh;
}

.message .media-body:hover{
    background: #343a40;
    color: white;
}

.my_message .media-body:hover{
    background: #007bff;
    color: white;
}

.message_time {
    text-align: right;
    color: silver;
    font-size: 10pt;
}

.forAdminLink{
    display: none;
}

.messages_container {
    height: 74vh;
    overflow: auto;
}

#main-container{
    height: 80vh;
}

.sendingForm {
    margin-top: 1vh;
    height: 10vh;
}

textarea {
    resize: none;
}

#back {
    display: none;
}

template {
    overflow-x: hidden;
}

#about {
    display: none;
}